<div id="<%= dom_id restaurant %>">
  <div>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </div>

  <div>
    <strong>Phone number:</strong>
    <%= restaurant.phone_number %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= restaurant.category %>
  </div>

</div>
